* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

img {
    display: flex;
    width: 100%;

}

h1 {
    color: royalblue;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 50px;
}

:Root {
    --darkBlue: #10172A;
    --lightblue: #ADD8E6;
    --lightsalmon: #FFA07A;
    --lightslategray: #778899;
    ---blue: #273BAD;

}

.navbar {
    width: 100%;
    height: 50px;
    background: var(--lightblue);
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 5px 4px 3px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
    position: fixed;
    top: 0px;
}

.containItem {
    display: flex;
    gap: 30px;
    color: var(---blue)
}

.navbar__Logo{
    width: 150px;
    height: 50px;
}
.item {
    list-style: none;
    background-color: #ADD8E6;
    height: 50px;
    line-height: 50px;
    align-items: center;
}

.item:hover {
    cursor: pointer;
    background: var(--lightslategray);
    border-bottom: 3px solid var(--lightsalmon);
    font-weight: bold;
    background: rgba(255, 255, 255, 40%);
}

#boton-carrito {
    border: none;
    color: #273BAD;
    font-size: 25px;
    background-color: #ADD8E6;
    border-radius: 50%;
    padding: 1px 1px;
    transition: all .3s;
}

#boton-carrito:hover {
    cursor: pointer;
    color: #FFA07A;
    background-color: royalblue;
}

#boton-carrito:focus {
    outline: none;
}

#contenedor-productos {
    
    max-width: 1200px;
    background-image: url();
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 60px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

p {
    line-height: 1.8;
}

.producto {
    background-color: #63b5db;
    display: grid;
    max-width: 20%;
    padding: 10px;
    margin: 10px;
    margin-bottom: 20px;
    box-shadow: 2px 6px 3px 3px rgba(0, 0, 0, 0.3);
    justify-content: start;
    align-items: end;
    justify-items: start;
    border-radius: 20px 20px 20px 20px;
}

.precioProducto {
    font-weight: 700;
}

.boton-agregar {
    background-color: #FFA07A;
    color: #10172A;
    font-size: 18px;
    font-weight: 700;
    padding: 5px;
    border: none;
    border-radius: 10px 10px 10px 10px;
}

.boton-agregar:hover {
    cursor: pointer;
    background-color: var(--lightblue);
}

.boton-agregar:focus {
    outline: none;
}

.modal-contenedor {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
    opacity: 0;
    visibility: hidden;
}

.modal-active {
    opacity: 1;
    visibility: visible;
}

.modal-carrito {
    position: relative;
    background-color: white;
    min-width: 500px;
    padding: 20px;
    margin-top: -100%;
    transition: all .5s;
}

.modal-active .modal-carrito {
    margin-top: 0;
}

.modal-carrito h3 {
    color: royalblue;
    padding-bottom: 5px;
}

.modal-carrito #carritoCerrar {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    color: royalblue;
    border: none;
    background-color: white;
}

.modal-carrito #carritoCerrar:hover {
    cursor: pointer;
}

.modal-carrito #carritoCerrar:focus {
    outline: none;
}

.modal-carrito .precioProducto {
    padding-top: 10px;

}

.productoEnCarrito {
    border-left: 5px solid lightblue;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    margin: 5px 0;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
}

.productoEnCarrito:hover {
    border-left: 5px solid #FFA07A;
}

.boton-eliminar {
    background-color: white;
    color: #FFA07A;
    border: none;
    font-size: 20px;
}

.boton-eliminar:hover {
    cursor: pointer;
}

.boton-eliminar:focus {
    outline: none;
}

.footer {
    background-color: #63b5db;
    display: flex;
    height: 100px;
 justify-content: center;
 align-items: center;
}
.logo{
    width: 110px;
}
.contenedor-principal{
    font-size: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}